body {
    background-image: url(assets/illustration.png);
    background-color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    height: 100%;
}
.sidebar {
    flex: 1;
    background-color: #000080;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-content, .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-content {
    flex: 2;
    padding: 20px;
}
.logo img, .icons img, .user img {
    width: 100%;
    max-width: 50px;
}
.icons p, .user h3 {
    text-align: center;
    width: 100%;
}
.footer{
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
}
.icons, .user {
    margin-bottom: 20px;
}
.footer p{
    margin-top: 20px;
}
.card{
    border: 1px solid black;
}
.card1{
    border: 1px solid black;
}