body {
    background-image: url(assets/illustration.png);
    background-color: white;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 50vh;
}
.container {
    display: flex;
    height: 100%;
}
.sidebar {
    flex-basis: 33.33%;
    background-color: blue;
    padding: 20px;
    color: white;
}
.main-content {
    flex-basis: 66.66%;
    padding: 20px;
}