body {
    background-image: url(assets/illustration.png);
    background-color: white;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 50px;
}
.container {
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: blue;
    padding: 20px;
}
.main-container {
    flex-grow: 1;
    padding: 20px;
}